body {
	background-color: #C2C5BB;
	font-family: 'Roboto Mono';
}

h1 {
	font-family: 'Indie Flower';
	margin-bottom: 15px;
}

.quote img {
	width: 100px;
	height: auto;
	float: left;
	margin-right: 10px;
}

header {
	padding-top: 10px;
}

header, button {
	background-color: #0A8754;
	color: white;
}

button:focus, button:hover {
	background-color: white;
	color: #0A8754;
	cursor: pointer;
	outline: none;
}

header img {
	display: inline-block;
	float: right;
	max-height: 90px;
	width: auto;
	border-radius: 5%;
}

.preset-buttons button,
.search-results button {
	margin: 0 20px 50px 20px;
}

.form {
	background-color: #0A8754;
}

form {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	font-size: 1.2em;
	color: white;
	margin: 0 10px;
}

label {
	border-bottom: 1px solid white;
}

form button {
	background-color: white;
	color: #0A8754;
	width: 33.3%;
	margin-left: 30%;
	margin-right: auto;
	margin-bottom: 10px;
}

form button:focus, form button:hover {
	/*outline: none;*/
	background-color: #C2C5BB;
}

input {
	background-color: #C2C5BB;
	margin-bottom: 10px;
}

.preset-buttons, .buttons,
 .search-results {
	margin-top: 50px;
}

#fancybox-container {
	background-color: #639A88;
}

.results img {
	padding: 5px;
}

.quote {
	max-width: 500px;
}

#search-fail {
	position: relative;
	top: 300px;
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 0.9em;
}

#search-fail-image {
	margin-top: -50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer a {
	color: black;
	text-decoration: underline;
}

footer a:hover, footer a:focus {
	color: #0A8754;
	outline-color: #0A8754;
	text-decoration: none;
}

ul {
	float: left;
}

li {
	display: inline;
	list-style-type: none;
}

footer p {
	float: right;
}

@media only screen and (min-width: 640px) {
	fieldset {
		width: 50%;
		margin: 0 auto;
	}

	#search-fail {
		font-size: 1.2em;
	}
}