body {
  font-family: Arial, Helvetica, sans-serif
}

.visually-hidden {
	display: none;
}

img {
  max-width: 250px;
  display: block;
}

button {
  font-size: 16px;
}

.form-container {
  margin: 25px 0;
}

.search-form {
  max-width: 500px;
}

input {
  display: block;
  width: 100%;
}

.submit-button {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.row {
  display: flex;
}

.links li {
  display: inline-block;
  margin-right: 20px;
}