body {
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), 
	url("../img/kittens.jpeg");
	color: white;
	background-attachment: fixed;
	background-size: cover;
	letter-spacing: 0.09em;
}

body, input {
	background-color: #F2F9F4;
}

body, button, input {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
}

h1 {
	font-family: 'Indie Flower';
	margin-bottom: 15px;
}

.header-main {
	padding-top: 15px;
	text-align: center;
}

button {
	border: none;
	border-radius: 30px;
	padding: 10px;
	background-color: #0A8754;
	color: white;
	font-size: 1.2em;
}	

.iframe p {
	max-width: 600px;
}

.preset-buttons button:focus, .preset-buttons button:hover, 
.search-results button:focus, .search-results button:hover {
	background-color: #2D3047;
	cursor: pointer;
	outline: none;
}

header img {
	display: inline-block;
	float: right;
	max-height: 90px;
	width: auto;
	border-radius: 5%;
	margin-left: 10px;
}

main {
	color: white;
}

.more-info {
	margin-bottom: 15px;
}

.info {
	text-align: center;
	padding-top: 20px;
}

.info h2 {
	text-align: left;
}

.more-info-container {
	display: none;
	padding-top: 10px;
	margin-bottom: 10px;
}

.buttons {
	text-align: center;
}

.preset-buttons button,
.search-results button {
	margin: 0 20px 50px 20px;
	transition: background-color 0.5s ease;
}

.form {
	text-align: center;
	border-radius: 2px;
}

header, button {
	box-shadow: 
		0 8px 10px 1px rgba(0,0,0,.14), 
		0 3px 14px 2px rgba(0,0,0,.12), 
		0 5px 5px -3px rgba(0,0,0,.2);
}

form {
	margin-bottom: 50px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

fieldset {
	font-size: 1.2em;
	color: white;
	margin: 0 10px;
	text-align: left;
}

label {
	border-bottom: 1px solid white;
	font-size: 1.2em;
}

form button {
	transition: background-color 0.5s ease,
	color 0.5s ease;
	background-color: white;
	color: #0A8754;
	width: 33.3%;
	margin-right: auto;
	margin-bottom: 10px;
}

form button:focus, form button:hover,
button.more-info:hover, button.more-info:focus {
	background-color: #2D3047;
	color: white;
	outline: none;
	cursor: pointer;
}

input {
	background-color: #C2C5BB;
	margin-bottom: 10px;
}

button.more-info {
	transition: background-color 0.5s ease,
	color 0.5s ease;
	background-color: white;
	color: #0A8754;
}

.preset-buttons, .buttons,
 .search-results {
	margin-top: 50px;
}

.preset-buttons-entry {
	display: inline-block;
}

.iframe {
	display: none;
	background-color: #8CD790;
}

.iframe button {
	float: right;
}

.iframe button:focus,
.iframe a:focus {
	outline-color: #0A8754;
}

.results img {
	margin-bottom: 10px;
}

.quote h3 {
	margin: 10px 0;
}

.quote img {
	width: 200px;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#search-fail {
	position: relative;
	top: 185px;
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 1.25em;
}

#search-fail-image {
	width: 100%;
	margin-top: -50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer a {
	color: white;
	text-decoration: underline;
}

footer a:hover, footer a:focus {
	color: #0A8754;
	outline-color: #0A8754;
	text-decoration: none;
}

.left {
	float: left;
	padding-left: 0;
}

li {
	display: inline;
	list-style-type: none;
}

.right, .right li {
	float: right;
}

.right a {
	margin-left: 2px;
}

.visually-hidden {
	display: none;
	}

@media only screen and (min-width: 640px) {
	h1 {
		font-size: 5em;
	}
	.header-main p {
		font-size: 2em;
	}
	main {
		min-height: 800px;
	}
	.form {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	form {
		margin-top: 60px;
	}

	fieldset {
		margin: 0 auto;
	}

	form button {
		width: 15%;
	}
	.buttons {
	text-align: left;
	}	
	.info {
		margin-bottom: 50px;
	}	
	.more-info-container p {
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

		iframe {
			width: 560px; 
			height: 315px; 
	}

	#search-fail {
		font-size: 1.2em;
	}

	#search-fail-image {
		max-width: 500px;
	}

	#search-fail {
	position: relative;
	top: 300px;
	}

	.quote {
		max-width: 800px;
	}

	.quote img {
		display: inline;
		float: left;
		margin-right: 10px;
	}

	.right {
		padding-right: 50px;
	}
	.right a {
		margin-left: 10px;
	}
	footer {
		font-size: 1.25em;
	}

}